/*
************************
Created by Stepan Pesout
*****www.pesout.eu******
*****@stepanpesout******
************************
*/

#osay /*Y axis*/
{
    width: 2px;
    height: 100%;
    left: 0px;
    top: 0px;	
    position:absolute;
    background-color:black;
    position:fixed;
    z-index: 999997;
    display:none;
}

#osax /*X axis*/
{
    width: 100%;
    height: 2px;
    left: 0px;
    top: 0px;	
    position:absolute;
    background-color:black;
    z-index: 999997;
    display:none;
}

#stav
{
    left: 0px;
    bottom: 0px;
    position:absolute;	
    background-color: red;
    position: fixed;
    height:20px;
    width:100%;
    z-index: 999999;
    font-family: monospace;
}

#stav form input
{
    font-weight: bold;
    border: 0;
    top:0px;
    height:20px;
    background-color: red;
    font-size: 12pt;
    width:65px;
    color:black;
    font-family: monospace;
}

.sour
{
    font-size: 12pt;
    font-weight: bold;
    font-family: monospace;
}

.lr
{
    color:black;	
    font-family: monospace;
}

.plr
{
    color:black;
    text-decoration:none;	
    right:4px;
    position:absolute;
    z-index: 999999;
    font-family: monospace;
}

#infobar
{
    background-color: red;
    width:115px;	
    position:absolute;
    left:0px;
    top:0px;
    padding:4px;
    z-index: 999998;
    display:none;
    position:fixed;
    font-family: monospace;
}
